* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.bg {
    position: fixed;
    inset: 0;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhMVFRUXFRcXFRcVFxUXFhUWFhUYFxUVFRcYHSggGBomHhUVITEiJSkuLi4uFx8zODMtNygtMCsBCgoKDg0OGxAQGy0lHyUtLS4wLSstLS0vLS0tLS0rLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBLAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAQIDBAYABwj/xABDEAACAQIEBAQDBQUGBAcBAAABAhEAAwQSITEFBkFREyJhcTKBkRQjQlKhB2KxwdEVM3KC4fBDY3OyJDSSorPC0hb/xAAZAQACAwEAAAAAAAAAAAAAAAABAgADBAX/xAAoEQACAQQCAgMAAgMBAQAAAAAAAQIDERIhEzEEQRRRYSIycYGRsSP/2gAMAwEAAhEDEQA/ACeC5guJ+KRWgwPNymA+lYJRUqCsSnJHQdKLPVMLxq0+zCr4ZT2NeQ22I2NEMLxe6uzH51Yq32Vvx16Z6Y2DQ9KgucKQ+lZDC813B8WtF8Pzch+IRTqpFlbozQQfhH5WIqNsBeGzTU9jj1lo8wq8mNtnZhTaK2pLszvEeJX7IkrPtWau8eN8kERFehYsW3UgkGvO+IYZUuNk2qqrkXUUn6OFwUviiq9KBVFjRiT+KK4XBVdyAJJgDcnahGM48BpbXN6nRfl1NQDsuzQ+JVfFcUtW/wC8uKvudfpWMxeJvXfichTsAcq6dNN6otgBGaJ7yPWNzQKnNejX3ecMINM7N/hVv51Hd51woOnitoNQgGvUat+tZmzhAQGiATAHcjcf79Kd4GYeVNlljr31J7bgdqF0LkaFeeMN1F0f5J/gav4fnHCNoLoB/eDL/EVkDhxE6TrpHpvUBw4gSAfkKKcSZs9Ks8RVxKMGHdSD/ClOIrze1ho8ywpB0gwfkBRTBcYvJu2cdm3+u/1o6GU17Np43pXeMKFYLi9t9D5G7N/I9aIEUSzFMk8YV3iiojSRUDgibxBXeIKhiuioDAnz0k1BNcCaFgYE9IaiDmu8SpYGLHkUmWkVqdnA3oWDixAlcVApGxFRtdFQlmc5qBlp5uCmZxQA0waqmnitbieUmGqmaGXuC3V3SrHFoHKwOppwq42GI3H6Vwt0pOVlUTTwaseEKcLQok5SBWqdMQw2J+tOFkUvhCoHlFXHXPzH60175O9L4NL4NG4eVEVVeIcSSypLGWiQvU/0Hr6VDx3ii4dYkG4R5VJj0k+n9KzFjA3GxVhxdFxLkXS2VgMqN5wQdoyxFTpXYHUb1Ekv8VN0y7eyjRR7Dr71MmuTw1LEiTppIme2gEb+861lsUWz5lPU5dOk6A660V4XgMTiNLflXZn1CjuAep9BVkqOrmXkuwzYtAxALzuqA5gBtrB11PSmWQzAlAGB0IGVmkgTA+ID1j50e4LwP7ODFy4zMpV2zMoZTrlKgxGnWiluzAgCB2AqnAuir9mZw3CLrADJlEk+ZtASAM0LOug+g7VZXgDif7pvU5x/LatLh7DMQoBJOgHetTh+VZQZmyt16gUML6QzwXZ5Xe4Je3C2z6BiOsxqNqp3cNftmfBuARBKMH07QDMekV6ZxLhNpFYpeLlQS2RC4AAk5ishdjuawGL50wcGGxAYbFVTK3uHErSRd3iosDwte4EGKSYLQfytKt/6SJFIbkagyJkx+k/76U+9zfhboy30LDpmRW69MoUjrUBwmGf/AMpiI38hMkfXUexn3FWYpP8AkmhbX/q7kpvgbkGR077kVe4bzD4Zysc6dvxL/hJ/gf0rO3cDcTP4hJ8koYAA13Eb6UMQy3xH3MVohSjLplXJKLPYMLiFuKHRgynqP4HsfSpa8v4FxN8K8qxZSfMp2b19DXpeDvC4gddjuDoQexHQ0k4OLNVOqpolpDUgtmnLh2PSkLbogIpQtWvs0b00iNqAU19kPh10AU5gTTPDNSweSI1nqJqmNukNuoK6iIDTCKsGzTTYoA5Ilcim1YNmm+FUJyRN/a4wv4gR71cTFW20kGn3MKjDUA1TucET8JI9q2GHRauYK2+4Bqnf5ftNsIpn9n3V+F677RfXcTQaQb/pUv8AKyx5TrVX/wDln70ZXizD4kIqwnFUNLhEN5GVu8BugwBNQng90fhrarj0/MKlt4hDsRQ4okuzA3cC67qaqYhwo1ZAzaWw7BQ79FBNek4pbZU5oiJJ7V4FxTmFHxZuPaFy0jfcg7rlYEXBOhnLJB6QKSVJ20TKPsrc4cs4m04uYm4oDwc3m01ghQQCwAgwO1argGHFrh0CWYLcNtipBdbuqkLv+EVkOP8AMl/iDoLyyVUKi2lM6dYMyTW45W4q32C1YykRnDMw1y5zCJ6Rufl3hPIpzlTUW/Y/jzUZuVrmZ4BygWy3cQYXdbYPmI6Z/wAo9N/atsiAAAAADYAQB7AbUxbopmIxqW1Lucqjcn/etM5N9ium10iwxABJIAAkk6ADuaAY3mGR915bZMeMwmSDB8G1obnadFnerN/C3MZAt2mYCPu3MIGkkXcRHwrA0tn3PYkeXcHhrJvsbiX8UllmFxwCq5BqtlDoqgSNtuw0qidWMdA2V+Bcda0CUyKepv3U8VzG5BICD00j1ozgr+KxPmZ3yzDNmsvajrEQPTSa8y4vzfJabWGc6iFtIAddCXj+ArPYvmnEPb8HxfDtTPhp5VB6wfi/Wko+HOV29J/pJyXR7jznxuzaweJRb1rxbim2im4inKYQ7kbAua8GxOBO5u2RP78/wBFX+C3QtrTKCx3PhgnzH8RKNGnRz/Kr126wGrtB6eK8a67nEgdD16CttNcSxXoWTydwccBhzCIc4ygk+JazF48xRQZjYQR0oLjuHvabWdI9Cp6T2NaTFsuUFoZf3ocHSIDObg7/APFU1UwuIdCQuqZYNti2QKdIzMc1oExBkqdNaeMpLYLJlPC8w3VGS796nZj5hO+Vt595o7yxwRcbeKWDlULmIOr6ATCncyfb1oJb4clxrgBZCpUC0Vm51zkx+WPnmG1WeXuJNYvC5ZWDb1H52/MQe8THv1mhOSV8NMaKbtltBO5y+qXmt4i4FC6krOpiVXQaHYek1s+F4Oxg8HcxJN3N46q6Mwb4oMiIDLDAyNf5jlwH2u894QbdxPEcayX3XIOhPbpB7VW45hrj5UAFweGPDj4hqCQ0mQo7t29NM8pObV2PjjpG1sXAwDKQQRII6ipGumKynK965aLYa7BywVgyACJgHtGo+daE3DR16ClKxOTTTUPimm+KalicbLFJUHimu8Y0SYMmIpDUJvGk8U0LExZLSGojepPFoWJZjmptJmpwFBsKix+B5lupEmaP4PnFT8YisULNOWwKdTaGbg+z03C8dsuPiAoil9SJkV5OiRsat2cW67MfrTqq/YjhH0z0821PQGonwSH8IrE2OP3RGs0Ssc0nqKdVIvsrwYdfg1s9KrtwQAeViKhXmdO1XbXHLRG9H+LJtHnP7QuLYjCWmXPo4K+sN5W/Qn/YrNW+H4Y2WLZi/gKy66lyCzEADQAKBqetUf2mcXOL4m6Lma1bK2wq6yLYJuMB3lrgn0qvc4slnMwkrmMWmBQj7w5UQEGFVGPXfWq6sJWtEMJxyvJE/DMGRibDWQynLnJP4CJRj9dhW0t2woAUaAQKFcn2i1jxmEG6c0egkD5Elj86O+FSXb7LIyjHoge4FBZiAAJJOgA9azNzE3MTfRbUZtWtAyUtprGJufvkRkUjTQnUiKfN3EzcueBbBKq4UACfFvaELB3RZBPeQOs1ruA4IYWwTcaXJNy835nbeO/Yf61l83yV49PW5PpDRvVdl17DPCsTZ4fh3DHyn+8ciXuOdBoNWJOgUV5vxaw2Ium40WLTalRButO2kgEnfeNd2I09F4BwP7Yy4rErNof3Fo/CeniMOs9+v+H4sPzIEXGX/MzA3G1YiS8nMARpAOnptWfxaVSEXUqO8/8Ay/pBlKDliuijwvDYdC3/AINbuWZbE3HbXpNtMiAe81sOG8btC3lGCwqys/c2lScvmiWBn6daDYixlsqxMqQNBAyggny+3r+lV1vwgCwZWJ1BHqPWP4mpU8mct3LY+PEfx3m3OrImEwiA6eWzDjpIYNvrWe+1uYAGRsu5ZxHqSGDfrVprAJ0HXpRDE4ZEUSGJJiei6e2p+cVd8r6Qvx0jNXMI+UXDBXY3EJYLuQHMeImx1OYe9WEtBRl1B6RGbzAnyjVZIBIA8l0AiA1eg/sxwSvirqMoa2+HYMCPK0XLcSO4n3FAf2gcqfYL0KScPcVjaPVMsNcsk+gi4vqh7mtdKq5q5mqRUXYyP9oGzdt3FAkeTQkqUgHITuVAKMjb5Wgzlp/E3tJdGIQwpAbIND4gOq6bCQDPSflVLiNssQADOui9TJGVR3D+KB6ECrnMdq09kXra5XRwtzylMwYaNlJMEEBTqTJ9atcIuaf+iQk8WvrYa/Z3xq4S6AjPb+8tiNCh8ty3Hb4SPU+9HeE3Fkfe+Ic9yFJywVbQtP4RMzsJG0mvPeS8Tkxtk9GYofZ1IH65aPc74fw76NJFsknyxImPEA+gI96FagpSshoVWo5ex/GOI3Ld9srjXqpzCUbP5id9O2nQE1uMFiRctq46ifY7EfIyK8y4hjUKeGBquzMxZoGoE/CAZJ8oFaP9nWPzJcsn8DZl/wALbj5EfrR48Y6BCrd7NeaSlikFIXnUlLXVCDTSU6KeEoNjxi2RZacLPenm4BtUT3CaXsbSOLCoC5pWpBUURchgFPrUYjlQj4TQ29wG6vSmcGjLoF04Gp34fcG6momQjcUtmgnAU8U1adUIPWluXcqljsASfYCaRaH8yXMuEvt/yn/VY/nTLsRnlvD8afEuXS+QsGklcwJuTmB1ESCw+ZqTirtee2sLmcggqSQQ0IsA/CNDoK7hyMLbOt0ICwUgjykgSNT11OlEeDWfEx9qTItm2DrPmCs0D08rVqbSlcoWz0/CWQiKi7KoUewEVW43izbtwvxv5U9Cd29gJNXRWI5nxrPicizC/drE7kZrxEdQIWscno104ZMdy3gxn8Q6i35bc7gn4mJ3JO+veja30xF8W7jRYtea9Ey7aZbKx1OYT2UnvK53DY9hbOXKCXIUflJA1c9upPYHtRXhGDy2bd2SfEuOJO8W8pAbQQ0vcLdmZhsBXMnGWcq8920jSlF2px99mqPNl+7cyWVWzbG7Zc7Kg0mD5R0ERuQKF8YtWnvs5kW2MlsttnH5tvKTmkyCd60PKtmzZsG7fib0gAgn7sHKSRGgJO502obzHjrFyLdhVVEzAECASTJ+Wn6mqKk5YZOW/oenFclorX2ZnG2VkqjZhG5VQNe0VTw2HJQRr0gdfQTRK3b2HUj+dFuH8PFtdd/4f61XGbei+VomXewUbLoGB/EPpB1HzonwSzZk/aIHmTKMwQEFgGII3037CifEMAtzKSJKnoYLDqJoFiSMyhJygZYYCZ1nN3PX5+lXX2VXyRr+SuD3LlnFvYuvbYvkw77apLGdwVOZQd9u4rJ8z8xYm9aXDYoKzJeQhioW4jAlHU5dD5WYbdRW55T5ptWETC3lFkCclyQUaWMl9ZQk669+lDf2ocKVLiYlQMt0ZHGmrKMwYd5UH/01ug7RUo+uzIllVxl7PFLt0HPmkHKIjWGEeogEyZ6VcvBjhWJOYFFmT5lZWEH1kAfpRPiHDkUF0E++p0Mj6jSoeYbeTDZMsEZADM+UkdeoIjWtsKqnjb7C6XG5KX1oz3BP/M2P+ta/+Ra9M/aFw/NhC+5tsrfInKf4j6V5zyxZz4zDr/zkPyU5j/217Hx/D58LfTvaePfKSP1itNV2kjHHpnl/CoZV8NbQZQc0qWuMR+WATJn0H0qfki4beOCMCucOhBEEGM4kHb4f1puAxa2FytcvKrqHKWHyySDkEspkbb/rVPAYpRjbVxMwHjW/jIZtWCtJAAO56U72mVp2aPYPBpPCqcmm1iNObIvCpPCqakmoHKRF4VIbdSk0hNQmciHwqQ2qlmkJoEykQG1UfhVYNMJqEykbxOMD8QIq3bxttuoqV8KjdBVZ+EofT2rVsruizlQ9jUL8LtHXKKrHhLD4XNd4N9djND/RP8M6/wAv2m6RVduWLfSrH2i8N1mn/wBpsN0IqWQf5A5+Vh0asr+0LgbWeH4i5MgBQf8ANcVf51vV4svUH6UM5zxFq7gbysAy+RmU65lS6jsI9lNK1FK5NvR874fE2/C8K74mUPnUoVgFgFaQdzAH06Uc5ZcHFW3VMoL3N56Wiqggk67n50y4gRcQqJ9yl0nMxyhfFXyoB+YqD8hS8GQpcw10xFy5cAjX8AUEmOpYwPQ/NXK4IxtJJm/uYrKCxA0BP0E1hxixbvW2foczafnbM5j2Yj5CtfihKkdyB9TWF4yoOIeWhQUV9Jyq+of6kg/Kss45Ox0XanBtEuFQAuohgGIXUEPMjfs0Lb22v16rwHhq3uFWdQMue4jnQEC45DsemdTJ9WrxjEY42D4Phgso1JOzMEfp2K29O6RW/wCFcfb+y7FuMs3bug28JXFxFH7v3ij/AC1PIio0bvoyQvKokuy/x7iZdltBciWV8NQdGMAAs302oFbvyWXt/GpLDXb9zfMxiSegURr6AAVNicA9onxFyk6iQ2qgASp+EgkjYz7VxZwfbOpCUUsQhwq2ujaTtG8T/Om8UxotJmVVZizr5g0KFA+GIBJLSdZECoV4gSQ+QLbVUt6HsDBk/E2hJq7eYwWVonX4VYaCAQGBho0ka00I2Kajbd2VuH3xcVLmUKWD5lUMFBVgJXN3B2BIBHTYUeL21V8wjUDqRlM6tA30kQfzUXuOEUux+EAbKoAH4VVQAok7DvWVv4pnbOynX/s20+u/f5TotdlaZdxeHRLKX1uqXJhrZynKc0FSh1PlJJJ7eoqncu33S3azOyoPu7epjMoY5Rvtl07MYpy4G45lQMmbKWlZ2LSVnNBGsx9TpVzE4Ioc6MVK6qZ7eaTGxnWe+2lPGcYaY0YuW0CMTdVLJJWTIGXtr69zt6Bu1AOZcZNpLYMgsWnrC6Qfmf0rR4fmpLzOmKUPoRmyrLlQW8xUAlhqM8g6jeawnE72a4Y0CjKB7f6zXT8ajaW1vszV6zkmG/2d4XNiw8aW0ZvmfIP+5vpXqN4kqR3BH1FZP9nWA8PDm6RrdaR/gSQv1OY/MVqbtwKCx2AJ+gq2o7yBSglDZleWuHXR4fiMq+RMue4V8stGcbk7QBpFVOJ8sYy7iBet22uohBZ1QqqBGzMDm7DUQTI2refs9wCWbhXJcZ2VS8yCQV0UNpOXcr/zF0002vEMVcTDXlNt4yuAzMNFYELqTLRP+4q+9jGo3ZiGc03OaaWps1kOkooeXNJnNNmkmgNiOzU0vSE001A4Cl6bmpGphNQOKHMaiZqdNNNQmIbwnMN1es+9GMNzZ+YVjAwp+cd6KqNGRxR6LhuY7TbmKI2uI222YV5at31qS3iiNm/WnVb7FdI9VS4p2INONtT2rzOzxR12c/Wr+H5huL1mmVWIrpG6OFXsKF8c4Kt2zcRRBZGA9yDFBbfNL1bXmnTUa0cotAUWno8F5puPbcwNLq23gidliQKo4bEuoR2b4GW4Fy6jKw0B7Gi/PwK4rytl0MdYRnLLHoA0f5aE2YaFVsxOYNJ1YFQBr0/FQjqCBUd6jZ6hj8Qqolz8JdO2zaA69NRWNx2FdrxIXOrG5lCbtaB+9tkbh1MXAOzTRXgl5L+C8O4T90yqxkA5VYMjTsPLH0NZrA3yrFSSHQjM0mZB8t5B3AMMOq69NM8k7uxfneNmCcTaL32X4iMx7ZhbQtoI3KpoPUVr8PZYXTbUeUK4QDc+HfuKMq/9NrJ9iDQ7h9r764wFvOfDKrplzFgbbKx/4bOgtH0virxYplezGdGQ2yxymADbti4TsLiILDbRdsCYzTVtSPJTx/CmE8J5INcuZPtKLeOQC4snWVIOx10B0BJ2mtb+0jGk3LWESJIzMDtLHKgP0b6ir3LeLwXErILWkNxBluW3EXbbD4g34hrWE5wxAOLvKokoQihi5JW2oUQS0k6VypUnTi4/ZsjUVSopfQnF8G9kLauEDMS/lLFZHl1nXTXvua7AY4hTbMtp5cup9o3q0eHFsEMWSWaQAGltC+TTNPah+BtsGEmDMzBypGonJ1O1URWy+TTRLxHiRLiGyKpkZtST3K6yB2Ohq0MLfxYzi6CNQFYZYUHc20GRZ3k9Y7VUt8Ne60hoWYJIlW2koGHrG3vFbjhONtWbX2ZkyqRqy/Fm/M0e2w2g9pNj/iinvSQCay1hchbxFAALMNQZzZE7DMW9/WBlyXOXGPKLNk6MCz3Oi6kEA/I/MUW5s5kRW+zKZP8AxHSPIoHwgnQMdBJ+EHuIofxJLbYdVIVbaeZ36abInUgaa7tAA61PHpPNVKq/waLrjcIPfsxwcWbRePM/kTUSoG5I3B1Bn1A6GqXB+HNiLyWVnzHU/lUas3yE/pTOI4rxHzAZVGir+VR39epNej/s+4H4Fo37ixcugQDulvcD0J3PyrvXwjf2zk/2dl0jS2MIqKqKIVQAB2AEAUN5lcrh3A+J4tIO7XDlH8aNzWX5ivXGv21s6eDDsSAVzXCEVTPXKWIGpM/OqYbZbObjE1nJ6N4jC4oQhBILKU0hVVHjKJVUJ8vfWtTzNeZcJlgLnZViSx3znX/Ke8zXmqccbCWmf4ptLbMMBmUSqkoQDOh82gPTpU/A+Z8Rjw73j5FYBFgAA5dTp11+hFaHbBsywd5JFsrTSKsmkyishvzZWprGrRtimG2Kg6qFYtSZqsG0KTwh2qD8iKrNTS1WGtLSGyvaoHkRXzU0mrJsiozbFS5ORAmTTjW+v8lKRodaH3uS3HwmsUvHqr0GPkU2ZAU9aP3eVbw6TVK5wS8PwmqXTqL0XKpTfsoA07OalbA3BuppPszdjS3kG0GKl1u9SeMaiCEdKXWpySXsHHEDc3YPPbF0fEmh9UbTX2J/WgVjB/dhyNCSDHlCwBvG5Ov0rbMAQQwkEQR3B0IrOpYRbrWW0jVOzKdiJ2P+tbvGquUXFnP8ulhLJdBHl3CWrV5zmPh30AXTa9oQCNoJLCe5rJcxA2cUtzKYkEqDl1QwwXL8IiAP51qT4cMNTIgTrHqQB261R43GKQAqfHtnN/1UESR+Y9/9aEHOFS8troF41IWXZTwfFkYkXEW3LNCnN4K+JIZWgyLbDRt8sBx8MUZXDtqxJ6ls5Ukh1CzcJ8kuoALH7m+FVsyPQYNlteNlGZ7iqD2VFJc/OUHuKfwrFPbUMG8RFJJTzB7QY/FbZCGVDpmCnL3UitEai6RVxuxrcJgfOHRil5F0dC63VTSNYNxk0PlZbgggB4qhxPg12473blxCxMsSURmM6nKWAB+Qqxw3jFgGGld5TyFWDCSwQFE6zm8IzrrWgw3GrILAsZRfMJthgNh5fDGuo2qmpZu76LI3UdA7gvDRZ+/cZ1TUyFIfSYLI5HzjrqasWuM4e5aZbdm1buCSAR8a9VBMievqAQINScc5rwTYbwbTFrhjMotkHQgwzaL06TWZ4ZgnxDSoOYGVHaNj6wYrNXpwjHK9h4Tk3Zjr/MNwaqEAiC2pM9wSegkAa6HWdKEcT41duDKrlFA+LZj3ygbHT3222rVtyLirjZ3BPct5VHoijp7CKznHEt4Z/MczjYD+nShSlCU1dXY05ySajpEXCuWgbTYnEOLdtSDkcwWG+Z+up/DQXmfmI4ghFH3akkEzmfsX9tYHSTvVHi/F7l8jMYUfCs6D19T60R5a5aa8Rcugra3A63Pbsvr9K6dow/8ApUZnhlP+ECxyRy0b7DEXV+6U+UH/AIjD/wCg/U6d69NFC0lQFXQAQANgBsBS+Ie9ZJeapPo2w8NxXZexmKW0jXG2USfX0HrWUxGKTFJda9bZWJDZLYPlYkICsHzAIg36lpmBEmP4pbxJTC22KlmIe8TK6CfKvWAD11LexpcbibaWj4lsrbAK22WIOUeUArMsSZ3GnWTDbYf1Ta2c2vK8rLpGW4zhHtEWldmDBWyH4hp5Aw6EZjpprOm1ehcBwHgWEt9QJb/EdT/T5VieWcI1274zyQustqS/TXrA1+lbE3D3qryfJUHgafE8VyWYVzCuLULz+tILhrJ8r8Nnxf0KZqaSKG+IaYzUPlfgfjfoTLimtcFDCaZNH5X4T436Ey4ppuDvQ0tSE1PlfgfjL7CBuDvTcw70PJphah8l/RPjL7PWE4xHxIR8qtJxS2etTm2p6CobnD7Z/CK61pHJ0TpiUPUU+FPaqDcJXpIpv9nMNmNQGi62Ctn8IqNuFWj+AVW+z3Rs1NL3x0mhjH6CpP7JzwSyfwCq2K5ZtMNFinrjro3SocVzGqfEINI6cH2h1OfpmM4tw/wyVjUfwrK8f4W11Q9vS6mq+o6rW74lj1vSwocBWHhwnlFm5TzhjJHmmG4wW01Dj4p8oEDfvPpVnHcQcW1a00sWksD5fLInU7/xkUc5h5cttnvpZ8RyutuSsmQc6kahhHz1EayMl/bKZQPCaRprEAAAAD6R8q6NOEZnKqqVJlrxTeJa8Bt8I8vxEsWVRpEkmB3HancJ4Lca4DZfK2cZQNdOrEgggajprrqKoYvjQuBB4apkXLKzLeYnM/c6x7AUT4bzMyIUJCkggXcssvuBGb3396z+R484xbpf8LqNdPU/+hvmC9g7brbvK124Fh3tkKyjoDEKx96Zh8bgLqhb1y6Mui3Cv3gXsCFIgdjPX2rMrwe883EHjLuWtnOZ/eX4gfcUgwjjdHEbyrCPqKojQxilJ3Zp5ZO+jcDB8I0IxN64w1ylXAb92Vtgj3mtty/zBgLCDwrPh9CSAWP+Ykk145hkbojH0CsSfoKI2uH4u4fLaZR3fyAfI6/pVE6dTK8GLqXaPROd+ds1rLh3Kg/EVMN7TuPlXjd62118ttS7noNSfU/1rcYLlMn+/uz3VP5sf6UfweAtWVy2kCjrG59ydT86toxnGTlN3YeK6stIxfBOSspD4gBjuEmVH+L8x9NvetSMK3pRGhnFOO2bA8zS35F1b59vnRnSdV3ZohJUo6FawQCTAHUkwBWU4lxZ7z/Z8OJmQzEaEaTHYev0qC/xzFYm6DbJtKhDjL+HKRDMx+Igx6VGLiqpEESSuIck5yW/GfSZ6fqGFXU/EjTd32Za/mSmsY9BWzy8pQhbZNtAPFxJYIqXMs5FDaxII06kSCRqAwy3sRlsKxZQxIB7ne4x3OnU9IHarXDuPYsr9kskMrApBUHOuys07ED8W4GkxWz4LwhMOpAlmb4mO59PQVplLBb7MtKlm/whwvDTbQIo0A+vqfWpfsrdqJGurnugm7s66quKsgWcM3amtYYdKKxTStK/HiNzMFZD2phU9qK+GKabQpfjfo3MgUVNNiipsimNYFK/HYeZAyKSiBw1cMFQ4JE5og003IaKNhVFREHoKXhkDmQVw3Hri/iorhubGHxa1kKcK6anJHPcYs32H5sQ/FpRDD8w2W/FFeZCpAadVWJxRZ6ra4labZhU631OxBryhL7DYkVPax9xdmNHkQOE9TIHpQHmThyMhNZQcavfmNK/FrjCGM1HNMipNbK9sBVy03xK65dnpTKpa2aFIkD1muZuWVvTdswt3cjQLc9+zevXr3rQ06jFuLuhZrNWZ43ftvbYq6lWG4Ig0ttien0r1finCbWIXLdWexGjL7H+Vef8c4cuG8S2lwXAwSCNwPiymNCdtq1QqZGGpTwZUwt+4jZkzqe65gfqK0uC5rxSDzr4g/eUg/UfzrD264nWpKKfZIylHpnqGG5zDQGw90H9zz/xiiQ5isxJ8Rfe1dn9FIryzCJbyE3GYGYAXLJAyzv/AIqnwlm0wTzMC1wKRp8JaM0xvWWpFL7NVOpJ+0ek4rmWyoBVbtyfy22EHoCXC70MxfNrj4cMw9XI/gv9ay2L4Xa8UWkLEfESXRiFA1kAAgkxEjYzQrieDFvKyzlYaZhBB6g0KTpyaQ1RVYpv6D2P4/irvlzZQdISFGvczP1NDzwnEH8H/ut//qgyXopt27m0jStkddIxSbl2zRfazbgXIW5bVQoUhgxERmC+QiNDqTIpMLhr+MuQo00DNsigbZj1PpvVHlrDI95EcSpbUDSekSNq9Yw9pUUIihVGwUQB8qSc1DrsspUsu+inwXg1vDLCasfic7n+g9KJU3NXZqzNtu7N0bRVkOrqbmrs1Aa5xpDXZqQVACmm1Ktv1qRLYqWA5WKwFO8LvVnw6aVXvNHFsR1CDToJpCpNEcPgHf4VNFsJy51c0yptlbqmYTDzsCavW+EXCJy1ssPwxEGgFSNetjQkU6or2I60vR5CGp4aurqSw9xwang11dSjCg04GurqgRwanTXV1QKFU04GurqhBRSiurqBBbr5VLdgT9BXlfHbmtdXVoolFf0Bs9KjzpXV1aLGVs3fJ/LaPafFY0lMHaOo0Bv3NItId+0kew9MhxDEDxGa0PDQuWRN8gJkKCdTFJXVWltoKZXOMeSc7SwhjOpERr8qY2IYjKWJAMgEyJ711dTqK+hsmQl6ks11dTWFCnBruW4p7EH6GvXVaRPeurqz1jTRFrorq6s5oSHiye1SLg2NdXU6RGrEycPNTLgwN4FdXU1kJkxGRemvtUtvCXG+FIHrXV1MkLKbRew/LjHV2oxheC2k6Ca6up7aKM2y09y2g1IFCsdzLbTRdTXV1B6RZGCfZncdzPcb4dBQa5j3JksfrXV1UtstSS6P/9k=");
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(2, 20, 12, 0.94),
        rgba(2, 20, 12, 0.94)
    );
    z-index: -1;
}

body {
    color: #9cff9c;
}

.leagues-section {
    padding: 30px 40px;
    backdrop-filter: blur(2px);
}

h2 {
    color: #00ff66;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.leagues-row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.league-card {
    width: 220px;
}


summary {
    list-style: none;
    cursor: pointer;
}
summary::-webkit-details-marker {
    display: none;
}


summary {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.league-card:hover summary {
    transform: scale(1.07);
    box-shadow: 0 0 35px rgba(0,255,102,0.6);
    border-radius: 50%;
}


summary img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background: radial-gradient(circle at top, #2db564, #17703a);
    border-radius: 50%;
    border: 3px solid #baffba;
    padding: 18px;
    display: block;
    margin: auto;
}


.pill {
    display: inline-block;
    background: #00ff66;
    color: #003300;
    font-weight: bold;
    padding: 8px 26px;
    border-radius: 20px;
    margin: 14px auto 0;
}


.league-info {
    margin-top: 16px;
    padding: 14px;
    background: rgba(0,255,102,0.08);
    border-left: 4px solid #00ff66;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.6;
    animation: slideDown 0.35s ease;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


details[open] summary {
    box-shadow: 0 0 45px rgba(0,255,102,0.8);
}
