* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    background-color: #122424;
    height: 100vh;
    width: 100vw;
}


.app {
    height: 100%;
    width: 100%;
    padding: 40px 60px;
}


.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    color: white;
}

.header .bar {
    width: 6px;
    height: 26px;
    background-color: #1eff5a;
    border-radius: 4px;
}

.header h2 {
    font-size: 22px;
}


.grid {
    display: grid;
    grid-template-columns: 1.2fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    height: calc(100% - 60px);
}


.card {
    background-color: #1eff5a;
    border-radius: 18px;
    padding: 20px;
    position: relative;
    color: #0b2b1b;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 16px;
    padding: 28px;
    position: relative;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card-overlay {
    position: absolute;
    inset: 0;             
    z-index: 1;
    text-decoration: none;
}

.tall {
    grid-row: span 2;
}


.plus {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #0b2b1b;
    color: #1eff5a;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card p,
.card .plus{
    line-height: 1.3;
    font-size: 20px;        
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    z-index: 2;
}

.card:active {
    transform: scale(0.97);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.2);

}

.navbar {
  width: 100%;
  height: 70px;
  background: #0b1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 255, 150, 0.3);
}

.logo {
  color: #2bff6a;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid rgba(43, 255, 106, 0.6);
  transition: all 0.3s ease;
  font-size: 14px;
}

.nav-btn:hover {
  background: #2bff6a;
  color: #000;
}

.nav-btn.active {
  background: #2bff6a;
  color: #000;
}
