* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0b1f14;
    color: #eafff4;
}

.hero {
    padding: 70px;
    text-align: center;
    background:
        linear-gradient(rgba(0, 40, 20, 0.9), rgba(0, 40, 20, 0.9)),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbP01IEbOO2m_cEfLS_rqRcuJqpYqVSPQGbg&s");
    background-size: cover;
    background-position: center;
}

.main-title {
    font-size: 48px;
    color: #00ff88;
    letter-spacing: 3px;
}

.subtitle {
    margin-top: 10px;
    font-size: 16px;
    color: #b6ffe3;
}

.content {
    padding: 50px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
}

.card {
    background: rgba(0, 255, 136, 0.08);
    border-left: 4px solid #00ff88;
    padding: 25px;
    border-radius: 6px;
}

.card h2 {
    color: #00ff88;
    margin-bottom: 15px;
}


.card ul {
    list-style: square;
    padding-left: 20px;
}

.card ul ul {
    list-style: circle;
    margin-top: 8px;
}

.card li {
    margin-bottom: 10px;
    line-height: 1.6;
}


.court-image {
    margin: 20px 0;
    text-align: center;
}

.court-image img {
    max-width: 100%;
    height: auto;
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #04130c;
    color: #7fffd4;
    font-size: 14px;
}

.navbar {
  width: 100%;
  height: 70px;
  background: #0b1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 255, 150, 0.3);
}

.logo {
  color: #2bff6a;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid rgba(43, 255, 106, 0.6);
  transition: all 0.3s ease;
  font-size: 14px;
}

.nav-btn:hover {
  background: #2bff6a;
  color: #000;
}

.nav-btn.active {
  background: #2bff6a;
  color: #000;
}
