
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.login-body {
    height: 100vh;
    background: url("https://editorial.uefa.com/resources/0290-1badd13ec463-efbd48368264-1000/ucl_2024-27_ultimatestage_birdseye_rgb_16x1_1.jpeg")
                center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 320px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 4px;
}

.error-text {
    display: none;
    color: #ff4d4d;
    font-size: 12px;
}

.input-group input:invalid:focus + .error-text {
    display: block;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: aqua;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.back-link {
    margin-top: 15px;
}

.back-link a {
    color: violet;
    text-decoration: none;
    font-size: 14px;
}






