* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.page-container {
  display: flex;
  height: 100vh;
}

.side-text {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-text h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 56px;
  letter-spacing: 4px;
  opacity: 0.9;
}

.center-wrapper {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  margin-bottom: 45px;
  font-size: 36px;
  text-align: center;
  width: 100%;
  position: relative;
  letter-spacing: 1px;
  left: -9%;
}

.form {
  width: 95%;
  max-width: 1200px;
   width: 70vw; 
}

.row {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.input-box {
  width: 32vw;;
  padding: 18px;
  background: transparent;
  border: 1px solid #aaa;
  color: white;
  font-size: 20px;
  min-width: 380px;
}

.input-box::placeholder {
  color: #777;
}

.select-box {
  color: #aaa;
}

.options {
  display: flex;
  gap: 26px;
  font-size: 18px;
}

.signup-btn {
  background: white;
  color: black;
  border: none;
  padding: 16px 44px;
  font-size: 18px;
  cursor: pointer;
}

.arrow {
  font-size: 26px;
}

@media (max-width: 900px) {
  .side-text {
    display: none;
  }

  .center-wrapper {
    width: 100%;
  }

  .form {
    width: 90%;
  }
}
