* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
}


.side-text {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    writing-mode: vertical-rl;
    font-size: 90px;
    letter-spacing: 2px;
    opacity: 0.85;
}


.center-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcome {
    margin-bottom: 300px;
    font-size: 26px;
}


.form {
    transform: scale(2.0); 
}


.row {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 18px;
}


.input-box {
    width: 260px;
    height: 40px;
    background: transparent;
    border: 1px solid #aaa;
    color: white;
    padding: 6px 10px;
    font-size: 14px;
}

.select-box {
    display: flex;
    align-items: center;
    color: #aaa;
    cursor: default;
}


.arrow {
    font-size: 22px;
}


.sports {
    display: flex;
    gap: 16px;
    font-size: 14px;
}


.signup-btn {
    background: white;
    color: black;
    border: none;
    padding: 10px 28px;
    font-size: 14px;
    cursor: pointer;
}

.input-box {
  width: 360px;
  padding: 12px;
  margin: 12px 0;
  background: transparent;
  border: 1px solid #aaa;
  color: white;
  font-size: 16px;
}

.input-box::placeholder {
  color: #777;
}

.gender-group {
  margin-top: 15px;
  color: white;
  font-size: 16px;
}

.gender-group label {
  margin-right: 20px;
  cursor: pointer;
}

.gender-group input[type="radio"] {
  margin-right: 6px;
}

