body {
    margin: 0;
    height: 100vh;
    background: url("https://www.pixelstalk.net/wp-content/uploads/images5/Cristiano-Ronaldo-in-Juventus-%E2%80%93-Free-Download.jpg") no-repeat center center/cover;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


.title {
    color: rgb(132, 0, 255);
    font-size: 100px;
    margin: 20px;
}

.subtitle {
    color: aqua;
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 15px;
    margin-top: 30px;
}


.box {
    width: 260px;
    padding: 12px;
    border: 2px solid white;
    color: white;
    text-align: center;
    cursor: pointer;
    background: rgba(0,0,0,0.6);
    transition: 0.3s;
}

.box:hover {
    background: rgba(255,255,255,0.2);
}


.bottom-left-buttons {
    position: fixed;
    bottom: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
}

.corner-btn {
    width: 180px;
    padding: 12px;
    text-align: center;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease;
}

.corner-btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(5px);
}
